<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chic.post.mapper.PostMapper">

    <resultMap id="pagePost" type="com.chic.post.vo.PostVO">
        <id column="post_id" property="postId" />
        <result column="title" property="title" />
        <result column="status" property="status" />
        <result column="abbr" property="abbr" />
        <result column="digest" property="digest" />
        <result column="publish_time" property="publishTime" />
        <result column="visit_num" property="visitNum" />
        <result column="update_num" property="updateNum" />
        <collection property="categories" ofType="com.chic.post.vo.CategoryVO">
            <id column="category_id" property="categoryId" />
            <result column="category_name" property="categoryName" />
        </collection>
        <collection property="tags" ofType="com.chic.post.vo.TagVO">
            <id column="tag_id" property="tagId" />
            <result column="tag_name" property="tagName" />
        </collection>
    </resultMap>

    <sql id="BASE_COLUMN">
        post.post_id,
        post.title,
        post.publish_time,
        post.digest,
        post.keywords,
        post.status,
        post.origin_content,
        post.format_content,
        post.cover,
        post.top_flag,
        post.comment_flag,
        post.visit_num,
        post.update_num,
        post.version,
        post.create_by,
        post.create_time,
        post.update_by,
        post.update_time
    </sql>

    <select id="selectPostIdByParam" resultType="java.lang.String">
        select post.post_id from post
        <where>
            delete_flag = 0
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="keyword != null and keyword != ''">
                and keywords like concat('%', #{keyword}, '%')
            </if>
            <if test="categoryIds != null and categoryIds.size() > 0">
                and exists (
                    select 1 from post_category where post_id = post.post_id
                    and category_id in
                    <foreach collection="categoryIds" index="index" open="(" close=")" item="item" separator=",">
                        #{item}
                    </foreach>
                )
            </if>
            <if test="tagIds != null and tagIds.size() > 0">
                and exist (
                    select 1 from post_tag as pt where pt.post_id = post.post_id
                    and pt.tag_id in
                    <foreach collection="tagIds" index="index" open="(" close=")" item="item" separator=",">
                        #{item}
                    </foreach>
                )
            </if>
        </where>
        order by post.create_time desc
    </select>

    <select id="selectPostSimpleByPostIds" resultMap="pagePost">
        select
            post.post_id,
            post.title,
            post.abbr,
            post.digest,
            post.publish_time,
            post.status,
            post.visit_num,
            post.update_num,
            category.category_id,
            category.category_name,
            tag.tag_id,
            tag.tag_name
        from post
        left join post_category as pc on pc.post_id = post.post_id
        left join category on category.category_id = pc.category_id
        left join post_tag as pt on pt.post_id = post.post_id
        left join tag on tag.tag_id = pt.tag_id
        <where>
            post.delete_flag = 0
            <if test="postIds != null and postIds.size() > 0">
                and post.post_id in
                <foreach collection="postIds" index="index" open="(" close=")" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
